

.active {
	color: white;
}


.inactive {
    color: black;
}

.p-10-0-8-0 {
    padding: 5dp 0dp 5dp 0dp;
}

.f-26 {
    font-size: 26;
}

.f-12 {
    font-size: 12;
}

.md-icon {
    font-family: "Material Icons", "MaterialIcons-Regular", "materialicons";
}
