<GridLayout row="1" [visibility]="opactiy ? 'visible' : 'collapsed'"  backgroundColor="rgba(199,178,153,1)" [height]="bottomBarHeight" rows="*" class="p-10-0-8-0" columns="*,*,*,*">
  <StackLayout verticalAlignment="middle" col="0" (tap)="onChangeIndex(0)">
    <Image src="res://feeds"  [visibility]="activeIndexValue == 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>
    <Image src="res://feeds"  [visibility]="activeIndexValue != 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>
    <Label text="feed" [ngClass]="{'active' : activeIndexValue == 0, 'inactive' : activeIndexValue != 0}" verticalAlignment="middle" horizontalAlignment="center" textWrap="true"></Label>
  </StackLayout>
  <StackLayout verticalAlignment="middle" col="1" (tap)="onChangeIndex(1)">
    <Image src="res://italk"  [visibility]="activeIndexValue == 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>
    <Image src="res://italk"  [visibility]="activeIndexValue != 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>

    <Label text="iTalkNiaja" [ngClass]="{'active' : activeIndexValue == 1, 'inactive' : activeIndexValue != 1}" verticalAlignment="middle" horizontalAlignment="center" textWrap="true"></Label>

  </StackLayout>
  <StackLayout verticalAlignment="middle" col="2" (tap)="onChangeIndex(2)">
    <Image src="res://search"  [visibility]="activeIndexValue == 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>
    <Image src="res://search"  [visibility]="activeIndexValue != 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>

    <Label text="Search" [ngClass]="{'active' : activeIndexValue == 2, 'inactive' : activeIndexValue != 2}" verticalAlignment="middle" horizontalAlignment="center" textWrap="true"></Label>

  </StackLayout>
  <StackLayout verticalAlignment="middle" col="3" (tap)="onChangeIndex(3)">
    <Image src="res://more"  [visibility]="activeIndexValue == 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>
    <Image src="res://more"  [visibility]="activeIndexValue != 0 ? 'visible' : 'collapsed'" stretch="aspectFit" [width]="imgWidth" [height]="imgHeight"></Image>

    <Label text="More" [ngClass]="{'active' : activeIndexValue == 3, 'inactive' : activeIndexValue != 3}" verticalAlignment="middle" horizontalAlignment="center" textWrap="true"></Label>

  </StackLayout>
</GridLayout>