.md-icon{
    font-family: "Material Icons", "MaterialIcons-Regular","materialicons"
    } 
.text-muted{
color: black
}
.f-24{
font-size: 24;
}
.tfield{
font-style: italic; 
}
.padding{
padding: 2dp 3dp 2dp 3dp ;
}
.p-l-b-t{
padding-bottom: 10dp;
padding-top: 5dp;
}
.margin{
margin: 25dp;
}
.bgcolor{
background-color: rgb(231,231,231);
}
.f-20{
    font-size: 20dp;
}
.f-10{
    font-size: 10;
}
.circle{
    border-radius: 100%;
    border-width: 2dp;
    border-color: white;
}

.search-bar {
    margin: 5%;
    background-color: rgb(226, 226, 226);
}


.circleimg {
    border-radius: 100%;
}


.p-12-12 {
    padding: 0dp 25% 0dp 18%;
}

.border-white {
    border-width:1.5dp;
    border-color: white;
    border-radius: 100%;
}

.cadidatate {
	color: #FEFEFE;
}

.pName {
    color: #FFF200;
}

.cName {
    color: #3E3A3A;
}

.transparentColor {
background-color: rgba(255, 255, 255,0.6);
border-radius: 10%;
}

.questionbox {
    background-color: #D7D7D7;
    font-size: 16dp;
    text-align: center;
}


.btnSend {
    background-color: #197B30;
    color: white;
    font-weight: 500;
    margin-top: 10dp;
}


.f-35 {
    font-size: 50dp;
}

.color {
    color: white;
}