.tab-margin {
    margin: 1.5%;
}

.tab-margin-images {
    margin: 5dp 0dp 5dp 0dp;
}

.labelSize {
    color: black;
    font-size: 12dp;
}

.date {
    color:  #999696;
}

.headinglabel {
    color:black;
    font-size: 18dp;
    font-weight: 600;
    padding: 10dp 0dp 10dp 0dp;
    border-bottom-color: #197B30;
    border-bottom-width: 1dp;
}

.circleimg {
    border-radius: 100%;
    margin-right: 10%;
}