<ActionBar title="More" class="actionbar">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>
<GridLayout rows="*" columns="*">
    <StackLayout>
        <Label text="My Profile" class="moreItem" textWrap="true"></Label>
        <Label text="Trending News" class="moreItem" textWrap="true"></Label>
        <Label text="Take our Survey" class="moreItem" textWrap="true"></Label>
        <Label text="feedback" class="moreItem" textWrap="true"></Label>
        <Label text="contact" class="moreItem" textWrap="true"></Label>
        <Label text="logout" class="moreItem" textWrap="true"></Label>
        
    </StackLayout>  
</GridLayout>