<GridLayout [row]="row" rows="auto,*" columns="*" class="page-background">
    <Pager #pager row="1" [disableSwipe]="disableSwipe" [items]="components" [selectedIndex]="selectedIndex"
        (selectedIndexChange)="onIndexChanged($event)" class="page-background  index1" >
        <ng-template let-i="index" let-item="item">
            <GridLayout>
                <tu-tab-page [selectedIndex]="selectedIndex" [component]="item.component"></tu-tab-page>
            </GridLayout>
        </ng-template>
    </Pager>
</GridLayout>