
// This is where the vast majority of your CSS code goes.// Import the theme
@import '~nativescript-theme-core/scss/light';
// Customize any of the theme’s variables here
// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

@import 'theme/common';




.md-icon {
    font-family: "Material Icons", "MaterialIcons-Regular","materialicons";
}

.fa-icon {
    font-family: "FontAwesome";
}


.action-bar {
    background-color: white;
    color: #00affc;   
}


.f-26 {
    font-size: 26;
}

.action-item {
    background-color: transparent;
    border-width: 1px;
    border-color: transparent;
}
